body{
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  background: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
}

#title, #description{
  color: white;
  text-align: center;
}

#description{
  font-style: italic;
}

#survey-form{
  background-color: rgba(20, 20, 28, 0.8);
  color: white;
  margin: 50px auto;
  max-width: 800px;
  width: 100%;
  padding: 35px 45px;
  border-radius: 5px;
}

.section{
  margin: 25px 0;
}

input[type="text"], input[type="email"], input[type="number"], #dropdown, textarea{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  font-family: Poppins, sans-serif;
}

.radiolabel, .checkboxlabel{
  display: block;
  margin: 5px 0;
}

input[type="radio"], input[type="checkbox"]{
  margin-right: 10px;
  vertical-align: center;
}

input[type="submit"]{
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background-color: green;
  border-color: green;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}